include pug/libs/_libs

doctype html
html(lang='en')
    include pug/_head
    body
        .container
            h1 This is webpack template
            h2.container__sub Daddipsum dolor sit amet, consectetur adipisicing elit. Autem, facere.
            .bg__img
            +image('vue')
            +image('webpack')
            .qjuery_block
            .user

            // Button trigger modal
            button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal')
                | Launch demo modal
            // Modal
            #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                .modal-dialog
                    .modal-content
                        .modal-header
                            h1#exampleModalLabel.modal-title.fs-5 Modal title
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body
                            | ...
                        .modal-footer
                            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                            button.btn.btn-primary(type='button') Save changes

